<%= simple_form_for(@pin, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

    <%= f.input :image, label: "Upload a Session Image" %>
    <%= f.input :image_remote_url, label: "Paste the Image URL" %>

    <%= f.input :SurfConditionRating, label: "Rate your Session (1=bad, 5=epic)?" %>

    <%= f.input :NumberOfWaves, label: "How many waves did you catch?" %>
    <%= f.input :NumberOfSetWaves, label: "How many Set-Waves?" %>


    <%= f.input :surfdate, label: "When did you surf?"  %>


    <%= f.input :location, label: "Where did you surf"  %>

    <%= f.input :description, label: "Two Word Session Sum Up" %>

  <div class="pull-right">
    <%= f.button :submit, class: "btn btn-large btn-danger", value: "Make the Session" %> |
    <%= link_to 'Show', @pin %> |
    <%= link_to 'Back', pins_path %>

<!-- Trying to get the Javascript for the slider to work -->
<script type="text/javascript">
  $('.slider').slider(options)
</script>

  </div>
<% end %>
