<%= render 'pages/home' %>

<!-- adding the calendar view -->

<% if user_signed_in? %>
  	<h2 id="month">
	    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
	    <%=h @date.strftime("%B %Y") %>
	    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
	</h2>
	<div id="calendar">
		<%= calendar_for(@tasks) do |t| %>
			<%= t.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
			<%= t.day do |day, tasks, pins| %>
		    	<%= day.day %>
					<%= link_to  do %>
					<!-- add on hover class here -->
					  <i class="icon-edit icon-2x pull-right"></i>
					<% end %>
					<%= link_to new_pin_path do %>
					<!-- add on hover class here -->
					  <i class="icon-plus-sign icon-2x pull-right"></i>
					<% end %>
			    <% tasks.each do |task| %>
			      <%= h(task.name) %>
		    	<% end %>
		      	<ul>
				    <% for pin in @pins %>
						<% if pin.surfdate == day %>				        
							<li>
								<%= image_tag 'logonav_small.png' %>
							</li>
				        <% end %>
				    <% end %>
			    </ul>		  
			<% end %>
		<% end %>
	</div>
<% end %>

<!-- End of Calendar View -->

<% if user_signed_in? %>
	<div id="pins" >
	  <%= render @pins %>
	</div>
	  <!-- show the pagination -->
	  <div class="">
	  <%= will_paginate @pins %>
	</div>
<% end %>
