
<% if current_page?('/') && !user_signed_in? %>
	<script>
		$.backstretch([
		"<%= asset_path 'bck1.jpg' %>",
		"<%= asset_path 'bck2.png' %>",
		"<%= asset_path 'bck3.jpg' %>",
		], {duration: 4000, fade: 750});
	</script>
<% else %>
	<script>
		$.backstretch("<%= asset_path 'homebackground.jpg' %>")
	</script>
<% end %>

<script>   
	$('.slider').slider() 
</script>

<div class="container">
	<div class="footer">
		<div class="navbar navbar-fixed-bottom">
			<small>
				<div class="pull-right">
				By <%= link_to "Marco Morawec", "http://www.marcomorawec.com" %>
				</div>
			</small>
		</div>
	</div>
</div>